:root {
  --japaneseIndigo: #27374d;
  --darkElectricBlue: #526d82;
  --cadetBlue: #9db2bf;
  --azureishWhite: #dde6ed;
  --white: #fff;
  --lightGray: #d3d3d3;
}

/* Global */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.6rem;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  border: solid black 0.1rem;
}

/* Utility */
.flex {
  display: flex;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  width: 90%;
}

.bc-p {
  background-color: var(--lightGray);
}

.hidden {
  display: none;
}

/* Main */
.main {
  background-color: var(--white);
}

.main-title {
  text-align: center;
}

.book-cont {
  width: 80%;
  border: solid var(--lightGray) 0.2rem;
  margin: 3rem auto;
}

.book-unit {
  justify-content: space-between;
  padding: 0.5rem;
}

.books-input {
  text-align: center;
}

.removeBtn {
  border: solid var(--japaneseIndigo) 0.2rem;
  background-color: var(--white);
  padding: 0 1rem;
}

.removeBtn:hover {
  border: solid var(--japaneseIndigo) 0.4rem;
}

.addBtn {
  text-align: end;
}

#addBtn {
  width: 5rem;
  height: 3rem;
}

.form {
  padding: 3rem 0;
  width: 40%;
}

.title-input,
.text-input {
  height: 2rem;
  width: 100%;
}

/* Header */
.header {
  position: sticky;
  top: 0;
}

.nav-cont {
  justify-content: space-between;
  border: solid black 0.2rem;
  margin: 1rem auto;
}

.nav-title {
  padding: 0.4rem;
}

.nav-list {
  padding: 1rem 0;
}

.nav-item {
  margin: 0 2rem;
  list-style: none;
}

.nav-item a {
  transition: font-size .6s;
}

.nav-item:hover a {
  color: blue;
  font-size: 1.8rem;
}

.date {
  text-align: right;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
}

.footer-cont {
  border: solid black 0.2rem;
}

.footer-cont h2 {
  padding: 0.4rem;
}

/* Contact */
.contact {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-desc {
  padding: 3rem 0;
}

.contact-list {
  padding: 1rem 0;
}

.contact-item {
  margin-left: 4rem;
}
